---
import { type Document, type EntryWithConfig } from "@openuji/speculator";
import { getDocuments, loadDocument } from "@/lib/load";
import BlockRenderer from "@/components/astro/speculator/BlockRenderer.astro";
import SpecLayout from "@/layouts/SpecLayout.astro";

export async function getStaticPaths() {
  const specs = await getDocuments();

  return specs.map((spec: Document) => ({
    params: {
      spec: spec.id,
    },
    props: {
      id: spec.id,
      title: spec.metadata?.title,
    },
  }));
}

const { id, title } = Astro.props;

const document: Document = await loadDocument(id);
---

<SpecLayout
  title={title}
  parent={{ href: "/ed", title: "Editor's Draft" }}
  toc={document.computed?.toc || []}
>
  <article class="spec">
    <h1>{title}</h1>
    {
      document.children.map((child) => (
        <BlockRenderer
          node={child}
          documentPath={document.sourcePos?.file}
          headingNumbers={document.computed?.headingNumbers}
          basePath="/ed"
        />
      ))
    }
  </article></SpecLayout
>
